* {
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    margin: 0;
    padding: 0;
    background: url(bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}
.wrapper {
    width: 100%;

}

.section1 {
    float: left;
    width: 38%;
    padding: 1%;
    margin-left: 1%;
    padding-top: 2%;
}

.section2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

#spin {
    margin-top: -500px;
    z-index: 1;
    width: 200px;
    height: 200px;
    filter: drop-shadow(1px 1px 10px #000000);
    /* color: rgb(255, 255, 255);
    background-image: linear-gradient(to bottom, #ff0000, #c71e1e, #931d1d, #611b1b, #330b0b);
    box-shadow: rgba(255, 255, 255, 0.25) 0px 25px 50px -12px;
    font-weight: bolder;
    color: white;
    font-size: 30px;
    padding: 10px 30px;
    border-radius: 10px;
    border: none; */
}
#spin:hover{
    transform: scale(0.8);
    color: #f7c404;
}
 h1 {
    text-align: center;
    color: #ffffff;
    margin: auto;
    align-items: center;
   padding-bottom: 1%;
   padding-top: 1%;
   font-size: 40px;
}

.title {
    text-align: center;
}

.prizes {
    width: 80%;
}
.prizes li:hover{
    transform: scale(1.1);
}
.prizes ul{
    padding: 0%;
}
.prizes li{
    list-style-type: none;
}
.button{
    width: 100%;
    border: none;
    color: rgb(253, 253, 253);
    background-image: linear-gradient(to top, #001a34, #004080, #0066cc, #0082e6, #0099e0, #00bfff, #33ccff, #66d9ff, #151848);
    border: none;
    box-shadow: rgba(255, 255, 255, 0.2) 0px 20px 10px -20px;
    letter-spacing: 0.05em;
    border-radius: 20em;
    border-radius:  10px;
    padding: 15px;
    transition: calc(0.5);
    margin-bottom: 20px;
    z-index: 2;
    font-weight: bolder;
}

.button:hover{
    color: #000;
    background: linear-gradient(0deg, rgb(174, 255, 0) 0%, rgb(230, 247, 102) 100%);
}

.button:active {
    background-color: red; 
  }

  .button-33 {
    width: 100%;
    background-color: #c2fbd7;
    border-radius: 100px;
    box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
    color: green;
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    padding: 15px;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 20px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-bottom: 20px;
  }
  
  .button-33:hover {
    box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
  }
  
.prizes{
    margin: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.container {
    width: 800px;
    height: 800px;
    background-color: #000000;
    border-radius: 50%;
    border: 5px solid rgb(247, 223, 4);
    position: relative;
    overflow: hidden;
    transition: 5s;
    margin: auto;
    filter: drop-shadow(1px 1px 10px #ffffff);
}

#arrow {
   
    color: white;
    font-size: 20px;
    padding: 5px 20px;
    border-radius: 10px;
}
#arrow img{
    filter: drop-shadow(1px 1px 5px #ffffff);

}
.sliceblue {
    height: 100%;
    width:100%;
    position: absolute;
    transform-origin: bottom;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 9px;
    font-weight: bold;
    font-family: sans-serif;
    color: #fff;
    bottom: 400px;
    /* left: 15px; */
    

}

.sliceyellow {
    background-color: #f7c404;
    height: 100%;
    width: 100%;
    position: absolute;
    clip-path: polygon(50% 100%, 50% 0, 56% 0);
    transform: translateX(60%);
    transform-origin: bottom;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 9px;
    font-weight: bold;
    font-family: sans-serif;
    color: #000;
    bottom: 400px;
    z-index: 2;
    /* left: 15px;
     */
}

.text-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-55%, -48%) rotate(-90deg);
    text-align: right;
    width: 100%;
    letter-spacing: 3px;
    font-size: 10px;
    margin-left: 40px;
}

@media (max-width: 768px) {
    .container{
        width: 500px;
        height: 500px;
    }
    #arrow img{
       margin-left: 30px;
     }
     #spin{
         margin-left: 30px;
         font-size: 20px;
     }
    .prizes li img{
        width: 70px;
    }
    .sliceblue, .sliceyellow{
        bottom: 250px;
       
    }
    .text-container{
        font-size: 8px;
    }
     .prizes li img{
         width: 70px;
     }
    
}

@media (min-width: 1024px) {

     .prizes li img{
         width: 150px;
     }
  
     .container{
         width: 800px;
         height: 800px;
     }
     .sliceblue, .sliceyellow{
         bottom: 390px;
         
     }
  
     .bottom-left {
        padding: 5px;
    }
 }
@media (min-width: 1920px) {
    #arrow img{
        width: 100px;
        height: 200px;
     }
     #spin{
         font-size: 50px;
     }
     .prizes li img{
         width: 200px;
     }
     .container{
         width: 1400px;
         height: 1400px;
     }
     .sliceblue, .sliceyellow{
         bottom: 695px;
        
     }
     .text-container{
         font-size: 20px;
     }
     .prizes li img{
         width: 250px;
     }
   
     h1{
         font-size: 80px;
     }
     .bottom-left {
        padding: 5px;
    }

 }
 
 @media (min-width: 1440px) {
    #arrow img{
        width: 100px;
        height: 200px;
       
     }
     #spin{
         font-size: 40px; 
     }
  
     .button{
        font-size: 15px;
     }
     .container{
         width: 800px;
         height: 800px;
     }
     .sliceblue, .sliceyellow{
         bottom: 390px;
         
     }
     .text-container{
         font-size: 13px;
         top: calc(99%); 
     }
     .bottom-left {
        padding: 5px;
    }
 }
@media (min-width: 2560px) {
    
    .sliceblue, .sliceyellow{
        bottom: 590px;
       
    }
    .text-container{
        font-size: 20px;
    }
    .prizes li img{
        width: 250px;
    }
    .prizes{
        width: 50%;
    }
 
    h1{
        font-size: 100px;
    }
    .sliceyellow, .sliceblue{
        left: 30px;
        
    }
}

@media (min-width: 896px) {
    .container{
        width: 500px;
        height: 500px;
        margin-top: 10rem;
    }
    .sliceblue, .sliceyellow{
        bottom: 250px;
       
    }
    #spin{
            margin-top: -300px;
            z-index: 1;
            width: 100px;
            height: 100px;
            filter: drop-shadow(1px 1px 10px #000000);
    }
    .text-container{
        font-size: 8px;
        top: calc(99%); 
        transform: translate(-58%, -46%) rotate(-90deg);
        margin-left: 45px;
    }
    .button-33 {
        width: 100%;
        background-color: #c2fbd7;
        border-radius: 20px;
        font-size: 20px;
        padding: 5px;
        font-size: 5rem;
        color: #000;
        font-weight: 800;
      }
      .section1{
        padding-top: 10%;
      }
      h1{
        font-weight: 500;
    }
}
.bottom-left {
    position: fixed;
    left: 10px; 
    bottom: 10px; 
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 5px;
    background-color:#59ff00 ;
   
}
.bottom-left:hover{
    transform: scale(1.1);
}
